@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

:root {
  --primary-color: rgb(255, 93, 34);
  --primary-color-dark: #141414;
  --secondary-color: #fafcff;
  --text-dark: #0d213f;
  --text-light: #767268;
  --extra-light: #ffffff;
  --max-width: 100%;
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* NAVBAR */

 .navbar {
  padding-right: 200px; 
  background: linear-gradient(rgba(0, 0, 0, 0.774), rgba(0, 0, 0, 0.534)), url(icons/navbg-blur.jpg);
  width: 100%;
  height: 110px;
  box-shadow: 1px 2px 4px rgb(0, 0, 0); 
}

.navbar-brand {
  padding-left: 250px;
 }
 

.navbar-brand img {
 padding-left: 90px;
}
  

.overview {
  width: 300px;
}

.nav {
  position: relative;
  font-family: 'Drep';
}

.nav ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
}

.nav ul li {
  display: inline-block; 
}

.nav ul li a {
  display: block;
  padding: 10px 25px;
  text-decoration: none;
  color: #fff; 
}

.nav ul li a:hover {
  color: var(--primary-color);
}


.nav-item.dropdown {
  position: relative;
  padding: 10px 0;
  font-family: 'Drep';     
}

.nav-item.dropdown a{
  color: #999999;
    font-size: 20px;
}

 

.nav-link:hover {
  color: rgb(255, 93, 34);
}



.nav-link a{
  color: #8b8b8b;

}



.nav-item.dropdown .nav-link:focus {
  color: #686868; 
}

.nav-link.active {
  color: white;
}



.navbar-toggler {
  font-size: 25px;
  margin-right: 150px;
  
} 


.nav-item.dropdowns a:hover {
  color: red;
  padding: 10px 50px;
}


.dropdown-menu {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.774), rgba(0, 0, 0, 0.534)), url(icons/navbg-blur.jpg);
}

.dropdown-item {
  color: #0a0a0a;
  margin-bottom: 10px;
}

.dropdown-item:hover{
  padding: 10px 50px;
  background-color: #00000000;
}



.form-control {
  padding: 10px; 
  font-size: 16px; 
}

.btn-outline-success {
  padding: 10px 20px; 
  font-size: 16px;
}

.navbar li {
  font-family: 'Cake';
  font-weight: lighter;
}





.dropdown-menu img {
  position: absolute;
  margin-top: -35px;
  left: 115px;
  width: 20px;  
  height: 20px;
} 

.offcanvas-header{
  width: auto;
  height: 100px;
}

.offcanvas-header img {
  margin-top: 20px;
  margin-left: 60px;
  position: relative;
  align-items: center;
  width: 200px;
  height: auto;
}

.offcanvas-body, .offcanvas-header {
  background: linear-gradient(rgba(0, 0, 0, 0.897), rgba(0, 0, 0, 0.685)), url(icons/navbg-blur.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.offcanvas-header {
  border-top: 1px solid rgba(255, 123, 0, 0.918);
  border-left: 1px solid rgba(255, 123, 0, 0.918);
  border-right: 1px solid rgba(255, 123, 0, 0.918);
}

.offcanvas-body {
  border-left: 1px solid rgba(255, 123, 0, 0.918);
  border-right: 1px solid rgba(255, 123, 0, 0.918);
}




.offcanvas-body {
  overflow: auto;
}



.offcanvas-header h5 {
  font-family: 'Drep';
}

.overview {
  border: none; 
  height: 1px; 
  background-color: #ccc; 
  margin: 10px 0;
}



@font-face {
  font-family: 'Cake';
  src: url(webfonts/Cakewalk.ttf);
}  


@font-face {
  font-family: 'Drep';
  src: url(webfonts/DREPHONIC.ttf);
}  


@font-face {
  font-family: 'Heav';
  src: url(webfonts/Heavitas.ttf);
}  






/* WEBSITE PREVIEW */


.tlogo img{
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  padding: 100px 100px;
  top: 200px;
}




.webtitle {
  position: relative;
  margin: auto;
  top: 20px;
  text-align: center;
  align-items: center;

}

.webtitle h1 {
  font-family: 'Cake';
  font-size: 120px;
  color: rgb(255, 93, 34);
}

.webtitle h2 {
  padding: 0 200px 0 200px;
  color: white;
  font-weight: 300;
  font-size: 30px;
  display: inline-block; 
  margin: 0; 
}

.webtitle .buttons {
  position: relative;
  margin: auto;
  margin-top: 50px;
}

.webtitle .buttons .btn {
  width: 200px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.795);;
  outline: none;
  border: none;
  color: rgb(255, 93, 34);
  text-decoration: none;
  font-weight: 500;
}


.buttons .btn:hover {
  background-color: #111111b2; 
}

.socials i {
  position: relative;
  top: 100px;
  margin: auto;
  color:  rgb(255, 255, 255);
  font-size: 30px; 
  margin: 0 50px 0 50px;
}


.socials i:hover {
  color: rgb(255, 93, 34);
  transform: scale(1.2);
  
}

.socials a {
  text-decoration: none;
}



/* HOMEPAGE */

.homec1 {
  position: relative;
  background-image: url('icons/navbg-blur2.jpg');
  background-color: #000000;
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* HOMEPAGE SECTION 2 */

.section2 {
  width: 100%;
  height: 60vh;
  background-color: #ffffff;
}


/* GALLERY */

.carousel-item img {
  width: auto;
  height: auto;
  position: relative;
  margin: auto;
  align-items: center;
}


#carouselExampleInterval {
  opacity: 100%;
}

.carousel-item img {
  transition: transform 0.3s ease;
}

.carousel-item img:hover {
  transform: scale(1.1);
}


.carousel-item img {
  margin-top: -50px;
}

.carousel-caption h5{
  font-family: 'Drep';
  font-size: 30px;
}
.carousel-caption p{
  font-family: 'Drep';
}

button .carousel-control-next-icon,
button .carousel-control-prev-icon {
  opacity: 20%;
}


.img-fluid {
  position: relative;
  width: 550px;
  height: auto;
  top: 60px;
}

.homec1 .GGdesc h3 {
  color: white;
  font-size: 30px;
  position: relative;
  font-weight: lighter;

}





/* ALBUMS PREVIEW   VGALL_PHP */  

.albums-c1 {
  background: url(icons/gallerygrid-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;

}

.albums-c1 h1 {
  position: relative;
  color: rgb(255, 255, 255);
  top: 50%;
  padding-left: 10%;
  font-family: 'Drep';
  font-size: 100px;
}



.albums-c1 p {
  position: relative;
  top: 45%;
  color: rgba(255, 255, 255, 0.336);
  padding-left: 10%;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 17px;
}


.pic-caption {
  position: absolute; 
  bottom: 0; 
  left: 0; 
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 10px; 
  width: 100%;
  box-sizing: border-box; 
  text-align: center; 
}




.pic-caption h3 {
  color: #ffffff69; 
  font-family: 'Drep';
  font-size: 20px; 
  margin: 120px 0; 

}


.pic-caption p {
  color: #FFFFFF; 
  font-family: 'Drep';
  font-size: 30px; 
  margin-top: -130px; 

}


.albums-container {
  width: 100%;
  height: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.774), rgba(0, 0, 0, 0.534)), url(icons/navbg-blur.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}




/* BLOG NAVIGATION IN VGALL_PHP */

.blog_navigation {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
}

.blog_navigation a{
    color: white;
    background-color: #000000;
    border: 1px solid var(--primary-color);
    padding: 5px 5px;
    font-size: 15px;
}

.blog_navigation a:hover {
background-color: var(--primary-color);
padding: 10px 10px;
}



.blog_navigation h6 {
  position: absolute;
  margin: 0px -110px;
  font-size: 20px;
  color: var(--primary-color);
  font-family: 'Drep';
}

.blog_navigation .menu {
  display: flex;
}

.blog_navigation .menu li {
  list-style: none;
  margin-right: 10px;
}

.blog_navigation .menu li:last-child {
  margin-right: 0;
}










/* VIEW ALL ALBUMS  */

/* .navigation_item{
  padding: 0px 5px;
  background: #fff;
  text-decoration: none;
  
  color: #e3e3e3 !important;
  font-size: 12px;
  border: 2px solid #e3e3e3;
  border-radius: 1px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
.navigation_item:hover,.selected_navigation_item{
  border: 2px solid #2A6496;
  border-radius: 2px;
  color: #2A6496 !important;
  background: #fff;
} */


/* PHOTO ALBUM  VIEW ALL_PHP */

.vall-container {
  background: linear-gradient(rgba(0, 0, 0, 0.521), rgba(0, 0, 0, 0.24)), url(icons/navbg-blur.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  font-family: 'Cake';
  
}


.panel-heading {
  background: url(icons/manage.jpg);
  background-size: cover;
  background-repeat: no-repeat; 
  border-color: #ddd;
  padding: 30px;
  margin-top: 110px;
  font-weight: bold;
}

.panel-heading h5{
  font-size: 40px;
  color: white;
  position: relative;
  text-align: center;
  font-family: 'Drep';
  text-shadow: 2px 2px #00000091;

  
}

.panel-body {
  padding: 80px;
  padding: 50px 150px;

}

.table {
  border: 5px solid rgba(255, 123, 0, 0.6);
}


.td {
  background-color: #000000;
}


th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-family: 'Drep';
  font-size: 20px;
  
}



th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-family: 'Drep';
  font-size: 18px;
  
}

th  {
  color:red;
}

/* Link styles */
a {
  text-decoration: none;
  color: crimson;
  padding: 0 20px;
}

a:hover {
  text-decoration: underline;
}

/* Image styles */
img {
  width: 100%;
  height: auto;
}


tbody {
}


/* PGAES VGALL */

.navigations_items_span{
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
}

strong {
  font-family: 'Drep';
  color: var(--primary-color);
  font-size: 20px;

}

/*  */



.navigation_item {
  color: white;
  background-color: #000000;
  border: 1px solid var(--primary-color);
  padding: 5px 5px;
  font-size: 25px;
  margin-right: 10px;
}
.navigation_item:hover{
  background-color: var(--primary-color);
  padding: 10px 10px;
}











/*  */



.help-block {
  color: #777;
  font-size: 12px;
}


.btn-primary {
  background-color: #337ab7;
  border-color: #2e6da4;
  color: #fff;
}

.btn-primary:hover {
  background-color: #286090;
  border-color: #204d74;
}

.btn-default {
  background-color: #fff;
  border-color: #ccc;
  color: #333;
}

.btn-default:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
  color: #333;
}


.form-control {
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.form-control textarea {
  resize: vertical;
}


input[type="file"] {
  display: block;
  margin-top: 5px;
}


.col-lg-6 {
  width: 50%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}


.row::after {
  content: "";
  display: table;
  clear: both;
}


div,h1,span,img,p,section{
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
  
}



article,aside,details,figcaption,figure,hgroup,section {
  display:block
}

blockquote,q{
  quotes:none
}

blockquote:before,blockquote:after,q:before,q:after {
    content:'';
    content:none
  }

table{
     border-collapse:collapse;border-spacing:0
    }



 p{
     line-height:2.0em
      }

h1{
  font-size:3.0em;color:#fff; 
  line-height:140px;
}


img{
  height:187px;
  ;width:290px;
}

.pull-right{
  float:right
}

.pull-left{
  float:left
}


.btn-download{
  background:rgba(24,42,60,0.92);
  color:rgba(124,142,160,0.92);
  padding:20px 50px;display:inline-block;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px
}

.btn-download:hover{
  background:rgba(94,112,130,0.92)
}







.wrapper{
  padding-top: 100px;
  max-width:1000px;
  margin:0 auto;  
  padding-left: 80px;
  padding-bottom: 100px;
}




.wrapper:before,.wrapper:after{
  content:'';
  display:table;
  clear:both;
}


/* GALLERY_PHP */



.picGallery {
  margin-top: -400px;
  position: relative;
  width: 100%;
  height: 50%;

}

.picGallery .pic-image {
  top: 0;
  left: 0;
  width: 190vh;
  height: 100vh;
  object-fit: cover; /* Ensures the image covers the entire container */
  filter: blur(3px); /* Adjust the blur amount as needed */
}




.picGallery h6 {
  top: 700px;
  font-size: 120px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #ffffff;
  font-family: 'Cake';
  white-space: nowrap;
  animation: pulse 5s infinite; /* Add animation */
  
   text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}



.picGallery p{
  top: 800px;
  font-size: 20px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Ensure the h2 is above the blurred image */
  color: #ffffff;
  font-family: sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.pic-name {
  font-size: 28px;
  color: #000000;
  top: 700px;
  z-index: 1;
}




/* ADD_GALLERY */




















/*  */







      .pic{
        max-width:300px;
        max-height:200px;
        position:relative;
        overflow:hidden;
        margin:10px;
        display:inline-block;
        -webkit-animation:anima 2s;
        -moz-animation:anima 2s;
        -o-animation:anima 2s;
        -ms-animation:anima 2s;
        animation:anima 2s;
        -webkit-backface-visibility:hidden;
        -moz-backface-visibility:hidden;
        -o-backface-visibility:hidden;
        -ms-backface-visibility:hidden;
        backface-visibility:hidden;
        border: 3px solid #c9c9c9;
      }

   
      
      .pic-3d{
        -webkit-perspective:500;
        -moz-perspective:500;-o-perspective:500;-ms-perspective:500;perspective:500;
        -webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-o-transform-style:preserve-3d;
        -ms-transform-style:preserve-3d;transform-style:preserve-3d
      }
        
        .pic-caption{
        cursor:pointer;
        position:absolute;
        width:100%;
        height:100%;
        background: linear-gradient(to bottom,  rgba(0, 0, 0, 0.377) 0%,rgba(0,0,0,0.7) 100%);
        padding:10px;text-align:center;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=($opacity * 100))";
        filter:alpha(opacity=0);
        -moz-opacity:0;
        -khtml-opacity:0;opacity:0
      }
      

  
      .pic-image{
        -webkit-transform:scale(1.1);
        -moz-transform:scale(1.1);
        -o-transform:scale(1.1);
        -ms-transform:scale(1.1);
        transform:scale(1.1)
      }
      
      .pic:hover .pic-image{
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -o-transform:scale(1);
        -ms-transform:scale(1);
        transform:scale(1)
      }
      
      .pic-title{
        font-size:1.8em
      }
      
      a,a:hover,.pic .pic-image,.pic-caption,.pic:hover .pic-caption,.pic:hover img{
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        -ms-transition:all 0.5s ease;
        transition:all 0.5s ease
      }
      
      pic:hover .bottom-to-top,.pic:hover .top-to-bottom,.pic:hover .left-to-right,.pic:hover .right-to-left,.pic:hover .rotate-in,.pic:hover .rotate-out,.pic:hover .open-up,.pic:hover .open-down,.pic:hover .open-left,.pic:hover .open-right,.pic:hover .come-left,.pic:hover .come-right{
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=($opacity * 100))";
        filter:alpha(opacity=100);
        -moz-opacity:1;
        -khtml-opacity:1;
        opacity:1;
        -webkit-user-select:none;
        -moz-user-select:none;
        -o-user-select:none;
        -ms-user-select:none;
        user-select:none;-webkit-touch-callout:none;-moz-touch-callout:none;
        /* -o-touch-callout:none;-ms-touch-callout:none;touch-callout:none; */
        -webkit-tap-highlight-color:transparent;-moz-tap-highlight-color:transparent;
        -o-tap-highlight-color:transparent;
        -ms-tap-highlight-color:transparent;
        /* tap-highlight-color:transparent */
      }
      
      .bottom-to-top{
        top:50%;
        left:0
      }
      
      .pic:hover .bottom-to-top{
        top:0;left:0
      }
      
      .top-to-bottom{
        bottom:50%;
        left:0
      }
      
      .pic:hover .top-to-bottom{
        left:0;
        bottom:0
      }
      
      .left-to-right{
        top:0;
        right:50%
      }
      
      .pic:hover .left-to-right{
        right:0;
        top:0
      }
      
      .right-to-left{
        top:0;
        left:50%
      }
      
      .pic:hover .right-to-left{
        left:0;
        top:0
      }
      
      .rotate-in{
        -webkit-transform:rotate(90deg) scale(0.1);
        -moz-transform:rotate(90deg) scale(0.1);
        -o-transform:rotate(90deg) scale(0.1);
        -ms-transform:rotate(90deg) scale(0.1);
        transform:rotate(90deg) scale(0.1);
        top:0;left:0
      }
      
      .pic:hover .rotate-in{
        -webkit-transform:rotate(360deg) scale(1);
        -moz-transform:rotate(360deg) scale(1);
        -o-transform:rotate(360deg) scale(1);
        -ms-transform:rotate(360deg) scale(1);
        transform:rotate(360deg) scale(1)
      }
      
      .rotate-out{
        -webkit-transform:rotate(90deg) scale(3);
        -moz-transform:rotate(90deg) scale(3)
        ;-o-transform:rotate(90deg) scale(3);
         -ms-transform:rotate(90deg) scale(3);
         transform:rotate(90deg) scale(3);
         top:0;left:0
        }
        
        .pic:hover .rotate-out{
          -webkit-transform:rotate(360deg) scale(1);
          -moz-transform:rotate(360deg) scale(1);
          -o-transform:rotate(360deg) scale(1);
          -ms-transform:rotate(360deg) scale(1);
          transform:rotate(360deg) scale(1)
        }
        
        .open-down{-webkit-transform:rotateX(-180deg);
          -moz-transform:rotateX(-180deg);
          -o-transform:rotateX(-180deg);
          -ms-transform:rotateX(-180deg);
          transform:rotateX(-180deg);
          top:0;left:0}
            
        .pic:hover .open-down{  
          -webkit-transform:rotateX(0);
          -moz-transform:rotateX(0);
          -o-transform:rotateX(0);
          -ms-transform:rotateX(0);
          transform:rotateX(0)
            }
            
            .open-up{
              -webkit-transform:rotateX(180deg);
              -moz-transform:rotateX(180deg);
              -o-transform:rotateX(180deg);
              -ms-transform:rotateX(180deg);
              transform:rotateX(180deg);
              top:0;left:0
            }
            
            .pic:hover .open-up{
              -webkit-transform:rotateX(0);
              -moz-transform:rotateX(0);
              -o-transform:rotateX(0);
              -ms-transform:rotateX(0);
              transform:rotateX(0)
            }
            
            .open-left{
              -webkit-transform:rotateY(180deg);
              -moz-transform:rotateY(180deg);
              -o-transform:rotateY(180deg);
              -ms-transform:rotateY(180deg);
              transform:rotateY(180deg);
              left:0;
              top:0
            }
            
            .pic:hover .open-left{-webkit-transform:rotateY(0deg);
              -moz-transform:rotateY(0deg);
              -o-transform:rotateY(0deg);
              -ms-transform:rotateY(0deg);
              transform:rotateY(0deg)
            }
            
            .open-right{-webkit-transform:rotateY(-180deg);
              -moz-transform:rotateY(-180deg);
              -o-transform:rotateY(-180deg);
              -ms-transform:rotateY(-180deg);
              transform:rotateY(-180deg)
              ;left:0;top:0
            }
            
            .pic:hover .open-right{
              -webkit-transform:rotateY(0deg);
              -moz-transform:rotateY(0deg);
              -o-transform:rotateY(0deg);
              -ms-transform:rotateY(0deg);
              transform:rotateY(0deg)
            }
            
            .come-left{
              -webkit-transform:rotateY(90deg) rotateX(90deg);
              -moz-transform:rotateY(90deg) rotateX(90deg);
              -o-transform:rotateY(90deg) rotateX(90deg);
              -ms-transform:rotateY(90deg) rotateX(90deg);
              transform:rotateY(90deg) rotateX(90deg);
              left:0;
              top:0
            }
            
            .pic:hover .come-left{
              -webkit-transform:rotateY(0) rotateX(0);
              -moz-transform:rotateY(0) rotateX(0);
              -o-transform:rotateY(0) rotateX(0);
              -ms-transform:rotateY(0) rotateX(0);
              transform:rotateY(0) rotateX(0)
            }
            
            .come-right{-webkit-transform:rotateY(-90deg) rotateX(-90deg);
              -moz-transform:rotateY(-90deg) rotateX(-90deg);
              -o-transform:rotateY(-90deg) rotateX(-90deg);
              -ms-transform:rotateY(-90deg) rotateX(-90deg);
              transform:rotateY(-90deg) rotateX(-90deg);
              left:0;
              top:0
            }
            
            .pic:hover .come-right{
              -webkit-transform:rotateY(0) rotateX(0);
              -moz-transform:rotateY(0) rotateX(0);
              -o-transform:rotateY(0) rotateX(0);-ms-transform:rotateY(0) rotateX(0);
              transform:rotateY(0) rotateX(0)}@media screen and (max-width: 560px) 
              {
                .pic{
                  max-width:400px;
                  max-height:300px;
                  display:block;
                  -webkit-animation:none;
                  -moz-animation:none;
                  -o-animation:none;
                  -ms-animation:none;
                  animation:none;margin:10px auto}
                }
